.register_page {
    background-color: #3897DD;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_btn {
    background-color: #3897DD;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.signup_btn:hover {
    background-color: #fff;
    color: #3897DD;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
}

.have_account {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.have_account a {
    color: #fff;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: bold;
}